/Alien.class
/Chauve.class
/DarkMaster.class
/Dragon.class
/FireWarrior.class
/FireWizard.class
/Gargouille.class
/Goblin.class
/IceMan.class
/Lutin.class
/Malin.class
/MonstreMysterieux.class
/Pirate.class
/RoiDesGrenouilles.class
/Squelette.class
/Warrior.class
